somsolet_backoffice_dashboard:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: <somsolet-user>
      password: <somsolet-password🤫> 
      port: 5432
      dbname: <somsolet-db>
      schema: public
      threads: 3
      keepalives_idle: 0 # default 0, indicating the system default
